.note {
  border: 1px solid #e0e0e0;
  width: 200px;
  list-style: none;
  padding: 10px;
  border-radius: 10px;
  margin: 20px;
  font-family: "Google Sans", Roboto, Arial, sans-serif;
  color: rgba(0, 0, 0, 0.702);
}

.note-description {
  white-space: pre-wrap;
}

.delete-note {
  color: black !important;
  text-align: center;
  font-weight: bold;
  margin-top: 10px;
  font-size: larger;
  cursor: pointer;
  width: 35px;
  margin-right: 10px;
  border: none;
  background: none;
}

.edit-note {
  cursor: pointer;
  height: 30px;
  margin-top: 10px;
  width: 35px;
  border: none;
  background: none;
}

.label-name {
  background-color: rgba(0, 0, 0, 0.08);
  padding: 5px 10px;
  margin: 0 5px;
  border-radius: 15px;
  cursor: pointer;
  margin-top: 2px;
}

.label-padding {
  padding: 5px 2px 5px 10px;
}

.delete-note:hover {
  background-color: rgb(207, 209, 211);
  border-radius: 50%;
}

.edit-note:hover {
  background-color: rgb(207, 209, 211);
  border-radius: 50%;
}
